@charset "ISO-8859-1";
 
* {
	margin: 0px;
	padding: opx;
}


.container {
	height:100vh;
	width:100%;
	background-image: url('./images/home.jpg');
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.logo {
	width:100px;
	cursor: pointer;
}


nav {
	flex: 1;
	padding-left: 60px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}

nav ul li input {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background: linear-gradient(45deg,#87adfe,#ff77cd);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	border:none;
	outline:none;
	text-decoration: none;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}

.content h1 {
	font-size: 60px;
	font-weight:100px;
	margin-top:24px;
	margin-bottom:15px;
	color:#9a60e6;
}

.content p {
	font-size: 60px;
	color:#5c6bbe;
	text-transform:capitalize;
}

.content {
	margin-left: 10%;
	margin-top:10%;
}

