@charset "ISO-8859-1";
@charset "ISO-8859-1";
* {
  font-family: sans-serif; /* Change your font family */
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  min-width: 700px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
}

.content-table thead tr {
  background-color: #5fa597;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background: #5fa597;
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	border:none;
	margin:10px;
	outline:none;
	text-decoration: none;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
	cursor: pointer;
}

.box:hover {
	text-decoration: none;
	color:#fff;
}