@charset "ISO-8859-1";
* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
.background-image {
	background-image: url('./images/indexImage.png');
	background-size: cover;
	background-position: center;
	width:100%;
	height:100vh;
	
}

.content {
	width:100%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align: center;
	color: white;
}

.content h1 {
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 50px;
}

.content a {
	padding: 12px 20px;
	border-radius: 10px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
	cursor: pointer;
	margin: 25px;
	
}

.content .bt1 {
	background: #fff;
	color: #000;
	cursor: pointer;
}
.content .bt2 {
	background: #00b894;
	color: #fff;
}

.bt1:hover {
	background: #00b894;
	color: #fff;
	cursor: pointer;
}

.bt2:hover {
	background: #fff;
	color: #000;
}